body {
  height: 100%;
  background: #00f;
  padding: 0;
  font: 12px/16px LiberationSansRegular, arial, sans-serif;
}

#line {
  height: 100%;
}

#form-canvas {
  padding: 56px 15px 12px 15px;
  min-height: 100%;
  width: 235px;
  margin: 0;
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  overflow: scroll;
  z-index: 3;
  background-color: #f7f7f7;
  border-right: 1px #ddd solid;
  box-shadow: #ddd 0 0 2px 0;
  transition: margin-left 0.38s, width 0.38s;
}

#form-canvas input {
  padding: 3px;
}

.hidden-bar #form-canvas {
  width: 100%;
}

#button-space {
  position: static;
  top: 50px;
  left: 20%;
  height: 75px;
  width: 75px;
  color: #333;
}

#map-canvas {
  display: block;
  min-height: 50%;
  position: absolute;
  left: 235px;
  right: 0px;
  bottom: 0;
  margin: 0;
  width: auto;
  top: 44px;
/*

  z-index: -2;
  position: fixed !important;
  top: 44px;
  bottom: 0;
  margin: 0;
*/
  user-select: none;
}

/*
 * Header
 */
#header {
    background-color: #276696;
    height: 44px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 3px #222;
}

#headerBanner {
    top: 13px;
    left: 55px;
    width: 64px;
    height: 17px;
    position: fixed;
}

h1 {
    font: 16px/33px LiberationSansBold, Arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    margin: 6px 0 0 0;
    color: #fff;
    left: 175px;
}

#nav {
  position: fixed;
  left: 595px;
  height: 44px;
}

#nav a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    color: #fff;
}

#nav a:hover {
    background: #5398d8;
}

