body {
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
  font: 12px/16px LiberationSansRegular, arial, sans-serif;
}

#leftBar {
  display: block;
  min-height: 100%;
  width: 235px;
  position: absolute;
  top: 0;
  background: #f7f7f7;
  border-right: 1px #ddd solid;
  box-shadow: #ddd 0 0 2px 0;
}

#form-canvas {
  padding: 63px 15px 12px 15px;
  min-height: 100%;
  width: 515px;
  margin: 0;
  top: 0;
  bottom: 0;
  display: block;
  position: absolute;
  overflow-x: visible;
  overflow-y: scroll;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(235px,0,0);
  transition: -webkit-transform 0.38s;
}

.map #form-canvas {
  -webkit-transform: translate3d(0px,0,0);
  width: 235px;
}

#button-space {
  position: static;
  top: 50px;
  left: 20%;
  height: 75px;
  width: 75px;
  color: #333;
}

#map-canvas {
  display: block;
  min-height: 50%;
  position: absolute;
  left: 235px;
  right: 0px;
  bottom: 0;
  margin: 0;
  width: auto;
  top: 44px;
  user-select: none;
  opacity: 0;
  transition: opacity 0.38s;
}
#age-div {
  padding-right: 0;
}
.map #gender-div {
  width: 75%;
}

/* Eat margin between Age/location */
.input-group .form-group {
  margin-bottom: 0;
}
.form-group + .form-horizontal {
  margin-top: -15px;
}

.map #map-canvas {
  opacity: 1;
  transition-duration: 0.62s;
}
.exp {
/*  transition: all 0.38s; */
  letter-spacing: 0;
  margin: 0;
  opacity: 1;
}
.map .exp {
  letter-spacing: -12px;
  opacity: 0;
}

/* stack bootstrap */
.map .col-sm-3,
.map .col-sm-9 {
  width: 100%;
}
.map .non-stacked {
  display: none;
}

.map .col-sm-3,
.map .col-sm-6,
.map .col-sm-9 {
  float: none;
}
.control-label {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
}
@media screen and (max-width:768px) {
.form-horizontal .control-label {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 5px 0;
}
}
.map .control-label {
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 5px 0;
}

/*
 * Header
 */
#header {
    background-color: #276696;
    height: 44px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 3px #222;
}

#headerBanner {
    top: 13px;
    left: 55px;
    width: 64px;
    height: 17px;
    position: fixed;
}

h1 {
    font: 16px/33px LiberationSansBold, Arial, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 0;
    margin: 6px 0 0 0;
    color: #fff;
    left: 175px;
}

#nav {
  position: fixed;
  left: 595px;
  height: 44px;
}

#nav a {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 16px;
    color: #fff;
}

#nav a:hover {
    background: #5398d8;
}

